 /* body {
    
    font-family: 'Syne Mono', monospace;
    font-weight: 300;
    background-color: rgb(218, 216, 216);
  }
  
  h1 {
    font-weight: 600 !important;
  }

  .indiv-card {
    transition: all 0.5s ease;
    background-color: rgb(17, 29, 40);
    border-radius:20;
  }
  
  .indiv-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }

  .loading {
   
    text-align: center;
    color:rgba(242, 244, 244, 0.911)
  }  */
