body {
    /*background-color: rgb(218, 216, 216);*/
    background-image: url("./public/disney.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    font-family: 'New Walt Disney Font', sans-serif;                                      
    background-color: rgb(218, 216, 216);
  }


  
  h1 {
    font-weight: 600 !important;
  }

  .indiv-card {
    transition: all 0.5s ease;
    background-color: rgba(242, 244, 244, 0.911);
  }
  
  .indiv-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }

  .loading {
    /* font-size: larger; */
    text-align: center;
    color:rgba(242, 244, 244, 0.911)
  }
